.dropdown-content {
    position: absolute;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    margin-top: 40px;
    width: 16%;
    padding: 10px;
    z-index: 1;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    .user-details-title {
        margin: 10px 0 5px;
    }

    .user-details-input,
    .organization-select,
    .status-select {
        width: calc(100% - 20px);
        padding: 8px;
        border: 1px solid #e0e0e0;
        border-radius: 4px;
        margin-bottom: 10px;
    }
    .organization-select, .status-select{
        width: 100%;
    }

    .button-container {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .filter {

            width: 98px;
            height: 40px;
            border-radius: 8px;
            background: #39CDCC;
            color: #fff;
            border: none;
            

        }

        .reset {
            width: 98px;
            height: 40px;
            border-radius: 8px;
            border: none;
            border: 1px solid #545F7D;

        }

        .reset:hover {
            background: #f0f0f0; 
            transform: scale(1.05); 
    
        }

        .filter:hover {
            background: #31b8b6; 
            transform: scale(1.05); 
        }
    }
}